extends layout.pug

block content
    include ./partials/_header.pug
    include ./partials/_app_section_header.pug
    include ./partials/_tweets.pug
    include ./partials/_friends.pug
    include ./partials/_messages.pug
    include ./partials/_app_tweet.pug
