header.circle--header
  .bounds
    .circle--fluid
      .circle--fluid--cell
        a.logo(href='/')
          img(class="profileImage" src=profileImageUrl)
          h1 #{screenName}
      .circle--fluid--cell.align-right
        nav
          ul.circle--inline
            li
              a Sign Out
